{% extends "base.html" %}
{% load courses_tags %}
{% block content %}
{% load_my_courses user as enrollments %}
<div class="pure-g-r content-ribbon">
   
    <div class="pure-u-1">
        
            {% block breadcrumb %}
            <a href="{% url 'accounts:dashboard' %}">Meu Painel </a>
            {% endblock %}
        
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            
            <ul>
                <l1 class="pure-menu-heading">
                    Bem Vindo, {{ user }}
                </l1>
                {% block extra_menu %} 
                
                <l1 class="pure-menu-heading">Meus Cursos</li>
                {%for enrollment in enrollments%}
                <li>
                    <a href="{% url 'Courses:announcements' enrollment.course.slug %}">
                        <i class="fas fa-book"></i>
                        {{ enrollment.course }}
                    </a>
                </li>
                {% empty %}
                <li>Se inscreva em um dos nossos Cursos</li>
                {% endfor %}
                <li class="pure-menu-heading">Minha Conta</li>
                <li>
                    <a href="{% url 'accounts:edit' %}">
                        <i class="far fa-edit"></i>
                        Editar Conta
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:edit_password' %}">
                        <i class="fas fa-user-lock"></i>
                        Editar Senha
                    </a>
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
            <h2>Meus Cursos</h2>
            {% for enrollment in enrollments %}
            <div class="well">
                <h3>{{ enrollment.course }}
                ({{ enrollment.course.start_date|date:'d/m/Y'|default:'Sem data' }})
                </h3>
                {{ enrollment.course.description|linebreaks }}
                <div class="pure-controls">
                    <a href="{% url 'Courses:announcements' enrollment.course.slug %}" class="pure-button button-error">Acessar</a>
                    <a href="{% url 'Courses:undo_enrollments' enrollment.course.slug %}" class="pure-button pure-button-primary">Cancelar</a>
                </div>
            </div>
            {% empty %}
            <aside class="pure-u-1">
                <p>Nenhum curso inscrito</p>
            </aside>
            {% endfor%}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}